.form-control{
        width: 50%;    
}
.myCard{
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-left: 28%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.field{
    width: 90%;
}

#submitBtn{
    width: 40%;
}
